header{
    padding-left: 5rem;
    padding-right: 10rem;
}

.headerIcons{
    display: none;
}

#dropDownMenu{
    display: flex;
}

.dropDownMenu_item a:hover{
    color: var(--green);
}

#socialMediaIcons{
    width: 70rem;
}



#responsive_proposal_container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#responsiveImg_container{
    width: 60%;
}

.projectCard_img:hover{
    filter: brightness(0.5);
    transition-duration: 500ms;
}

.projectCard_img{
    width: 38.3rem;
    height: 65.4rem;
}

input[type='submit']:hover{
    filter:brightness(1.2) ;
}

#noRobotCheckbox{
    cursor: pointer;
    transition: all 0.2s;
}

#noRobotCheckbox:hover{
    transform: scale(1.2);
}

#hero_index{
    height: 55rem;
}

#precios_desde_tablet{
    right: 20%;
}

#precios_desde_tablet button{
    cursor: pointer;
    transition: all 0.3s;
}

#precios_desde_tablet button:hover{
    background-color: #009cf7;
}

#desarrolloWeb_hero_info{
    padding-left: 5rem;
}

#hero_text{
    padding-left: 10rem;
}

#precios_desde_movil{
    display: none;
}

#que_ofrecemos{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#que_ofrecemos_imagen{
    width: 55%;
    overflow: hidden;
}

#texto_que_ofrecemos{
    width: 45%;
    
}


