header{
    padding-left: 5rem;
    padding-right: 10rem;
}

.headerIcons{
    display: none;
}

#dropDownMenu{
    display: flex;
}

.dropDownMenu_item a:hover{
    color: var(--blue);
}

#socialMediaIcons{
    width: 70rem;
}

.socialMediaIcon{
    cursor: pointer;
}