#h1HomeContainer{
    margin-left: 3rem;
}

#h1HomeContainer h1{
    font-size: 2.6rem;
    line-height: 3rem;
}

#h1HomeContainer h1 span{
    font-size: 2rem;
    line-height: 7rem;
}

#h1HomeContainer_largeGreenDiv{
    height: 12rem;
    top: 7rem;
    left: 0;
}

#h1HomeContainer_smallGreenDiv{    
    top: 2.4rem;
    right: 5rem;
}

#modernDevelopment{
    bottom: 4rem;
    font-size: 2rem;
    color: #fff;
}

#homeMainImage768x446{
    display: none;
}

#homeMainImage1300x867{
    display: block;
}

#homeMainImage1500x870{
    display: none;
}

#responsiveImg768{
    display: none;
}

#responsiveImg900{
    display: block;
}


.projectCard_img{
    width: 32.7rem;
    height: 55.9rem;
}

#contactWraper{
    flex-direction: row;
    justify-content: center;
    background-image: url('../assets/images/background-contact-h-1300p-144dpi.webp');
}

#contactInfo{
    margin-right: 3rem;
    margin-bottom: 0;
    height: 49.6rem;
}

#contactInfo #noCost{
    margin-top: 5rem;
}

#contactWhatsApp{
    margin-top: 8rem;
}

#blog_figure{
   height: 35rem;
}

#blog_figure_img2{
    display: block;
}

#blog_figure_img1, #blog_figure_img3{
    display: none;
}

.blogCard_blog{
    width: 38rem;
}

#blog_figure h1{
    top: 10rem;
    left: 8rem;
    font-size: 6rem;
}