
.projectCard_img{
    width: 32.7rem;
    height: 55.9rem;
}

#contactWraper{
    flex-direction: row;
    justify-content: center;
    background-image: url('../assets/images/background-contact-h-1300p-144dpi.webp');
}

#contactInfo{
    margin-right: 3rem;
    margin-bottom: 0;
    height: 49.6rem;
}

#contactInfo #noCost{
    margin-top: 5rem;
}

#contactWhatsApp{
    margin-top: 8rem;
}

#hero_index{
    height: 44.6rem;
}

#hero_text{
    
    justify-content: flex-start;
   margin-left: 5rem;
}

#precios_desde_tablet span{
    margin-bottom: 2rem;
    display: inline-flex;
    justify-content: center;
    font-size: 3rem;
    color: #FF007E;
}

#precios_desde_tablet{
    display: block;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
}

#precios_desde_tablet button{
    width: 100%;
    background-color: #33B1FF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.8rem;
}

#hero_text{
    justify-content: flex-start;
}

#precios_desde_movil{
    display: none;
}

