/*General styles*/
:root{
    --gray: #303233;
    --light-black: #1A1A1A;
    --dark-black: #010409;
    --green: #5EBB1E;
    --blue: #33B1FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html{
    font-family: Roboto, sans-serif;
    font-size: 62.5%;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* max-width: 150rem; */
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    padding: 0 1.5rem;
    z-index: 50;
}

main{
    width: 100%;
    /* max-width: 160em; */
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav{
    position: relative;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    background-color: var(--dark-black);
    font-size: 1.4rem;
}


/*Header styles*/
.headerIcons{
    display: block;
}

#homeIcon{
    width: 3rem;
}

#menuIcon{
    width: 5rem;
}

#logo_header{
    width: 15rem;
}

#dropDownMenu{
    display: none;
}

.dropDownMenu_item{
    margin-left: 3rem;
    list-style: none;
}

.dropDownMenu_item a{
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

#mobileMenu{
    width: 25rem;
    position: absolute;
    top: 5.5rem;
    right: -2rem;
    display: none;
    flex-direction: column;
    padding: 2rem;
    background-color: var(--light-black);
}

.mobileMenu_item{
    width: 100%;
    padding: 1rem;
    list-style: none;
}

.mobileMenu_item a{
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}

#mobileMenu_container{
    text-align: center;
    list-style: none;
}

#mobileMenu_closeIcon{
    width: 2.5rem;
}


/*Footer styles */
#socialMediaIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    margin-bottom: 2rem;
}

.socialMediaIcon{
    width: 4.4rem;
}

#instagramIcon{
    width: 2.8rem;
}

footer p{
    color: #fff;
}

footer a{
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
    text-decoration: underline;
    color: var(--blue);
}

#copyRight span{
    color: var(--blue);
}

#footer_contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#designDevelopment{
    margin-bottom: 1rem;
}

/*Home styles*/
#homeBanner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1HomeContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    margin-left: 1rem;
}

#h1HomeContainer h1{
    margin-left: 2rem;
    font-size: 2.2rem;
    color: #fff;
    line-height: 2.7rem;
}

#h1HomeContainer h1 span{
    font-size: 1.6rem;
    line-height: 5rem;
}

#h1HomeContainer_largeGreenDiv, #h1HomeContainer_smallGreenDiv{
    width: 1rem;
    position: absolute;
    background-color: var(--green);
}

#h1HomeContainer_largeGreenDiv{
    height: 11rem;
    top: 5rem;
    left: 0;
}

#h1HomeContainer_smallGreenDiv{
    height: 2.2rem;
    top: 1.5rem;
    right: 5rem;
}

#modernDevelopment{
    position: relative;
    bottom: -1rem;
    left: 0rem;
    z-index: 20;
    font-size: 1.6rem;
    color: #111;
    text-align: center;
}

#noCompite{
    width: 100%;
    background-color: var(--light-black);
    margin-top: 3rem;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2.5rem;
    color: #fff;
}

#homeBannerImages{
    position: relative;
    width: 100%;
    max-height: 69.6rem;
    overflow: hidden;
    z-index: 9;
}

.homeBanner_image{
    width: 100%;
    filter: brightness(40%);
}

#homeMainImage768x446{
    display: block;
}

#homeMainImage1300x867{
    display: none;
}

#homeMainImage1500x870{
    display: none;
}

#responsiveImg768{
    display: block;
}

#responsiveImg900{
    display: none;
}

#responsive_proposal_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

#responsiveImgContainer{
    width: 100%;
    position: relative;
}

#responsiveImgContainer img{
    width: 100%;
}

#responsive_design{
    position: absolute;
    top: 19.6rem;
    right: 38rem;
    background-color: var(--green);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1rem;
}

#proposal{
    display: inline-block;
    padding: 4rem 1rem;
    background-color: #3477ff;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

#homeRecentProjects, #homeBlogs{
    width: 100%;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--light-black);
}


.projectCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    
}

.projectCard_img{
    width: 33.8rem;
    height: 57.8rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
}

.projectCard h3{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

.projectCard_lineDecoration{
    margin: 0 auto;
    width: 5rem;
    height: 0.1rem;
    margin-top: 2rem;
    background-color: var(--green);
}

.home_sectionTitle{
    width: 100%;
    margin-top: 10rem;
    text-align: center;
    padding: 2rem 0 4rem 0;
    font-size: 2rem;
    background-color: var(--light-black);
    color: #fff;
}

.blogCard_home{
    width: 33.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
    background-color: #fff;
}

.blogCard_home img{
    width: 33.8rem;
    height: 22.5rem;
    transition: all 0.4s;
}

.blogCard_home figure{
    overflow: hidden;
}

.blogCard_blog{
    width: 95%;
    max-width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
    padding: 2rem;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
}

.blogCard_blog img{
    width: 33.8rem;
    height: 22.5rem;
    transition: all 0.4s;
    object-fit: cover;
}

.blogCard_blog figure{
    overflow: hidden;
}

.blogCardTitle, .blogCardText, .blogCardAuthor{
    width: 100%;
    /* margin-top: 2rem; */
}

.blogCardTitle_home, .blogCardTitle_blog{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.blogCardText{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5rem;
    color: #5f727f;
}

.blogCardAuthor_home{
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    color: #99a9b5;
}

.blogCardAuthor_blog{
    margin-top: 4rem;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    color: #99a9b5;
}

.blogCardDate{
    font-weight: normal;
}

@media (min-width: 1024px){
    .projectCard_img{
        width: 29.1rem;
        height: 49.7rem;
    }
}

/*contact styles*/

#contactWraper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../assets/images/background-contact-h-768p-144dpi.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

#contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 2rem 0;
    background-color: #fff;
}

#contactInfo p{
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--blue);
    opacity: 1;
}

#contactInfo ul{
    width: 70%;
    margin-top: 3rem;
}

#contactInfo ul li{
    width: 100%;
    font-size: 1.8rem;
    color: var(--light-black);
}

#contactInfo #noCost{
    margin-top: 3rem;
    font-size: 1.8rem;
    color: var(--light-black);
}

#contactInfo #conditions{
    font-size: 1.4rem;
    color: #333;
}

#contactWhatsApp{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

#contactWhatsApp p{
    margin-left: 1rem;
    font-size: 1.6rem;
    color: #31A64D;
    text-decoration: underline;
}

#contactWhatsApp img{
    width: 3.5rem;
}

form{
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

label{
    font-size: 1.4rem;
}

label,
input[type='text'],
input[type='email'],
textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.6rem;
}

input[type='text'],
input[type='email']{
    margin-bottom: 1rem;
}

textarea{
    resize: none;
    height: 6.8rem;
}

/* #required{
    width: 100%;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 1.2rem;
} */

#noRobot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    margin-top: 2rem;
    background-color: #ccc;
    border: 1px solid #ff0000;
    opacity: 0.8;
}

#noRobotCheckbox{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 1rem;
}

#noRobotLabel{
    width: 12rem;
    text-align: center;
}

#noRobotCheckbox + label{
    color: red;
    font-size: 1.4rem;
    font-weight: bold;
}

#noRobotCheckbox:checked + label{
    color: #31A64D;
    font-weight: bold;
}

input[type='submit']{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin: 2rem 0;
    background-color: var(--green);
    cursor: pointer;
    border: none;
    font-size: 1.4rem;
    color: #fff;
    font-weight: bold;
}

#blog_figure{
    position: relative;
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

#blog_figure h1{
    position: absolute;
    top: 10rem;
    left: 2rem;
    font-size: 5rem;
    color: #fff;
}

#blog_figure img{
    width: 100%;
    object-fit: cover;
}

#blog_figure_img1{
    display: block;
}

#blog_figure_img2, #blog_figure_img3{
    display: none;
}

#blogs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

#blogs a, #homeBlogs a{
    color: var(--blue);
    font-weight: 600;
}


